.log-list {
    padding: 20px;
  }
  
  .table th, .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .table td {
    font-size: 1.1rem;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  