<div class="product-list">
  <h2 class="text-center my-4">Lista de Produtos</h2>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Marca</th>
        <th scope="col">Preço</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.dscrprod }}</td>
        <td>{{ product.marca }}</td>
        <td>{{ product.valor }}</td>
        <td [ngStyle]="{
            'background-color': product.status ? 'green' : 'red',
            'color': 'white',
            'font-weight': 'bold'
          }">
          {{ product.status ? 'Ativo' : 'Inativo' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
